# Environment variable for backend server

# Django production secret key
DJANGO_SECRET_KEY= 'Your_Actual_Django_Secret_Key_Here'

# Database configuration
POSTGRES_DB= database_name
POSTGRES_USER= database_user
POSTGRES_PASSWORD= database_password
POSTGRES_HOST= database_host
POSTGRES_PORT= database_port

# object storage settings for ecommerce project.
MINIO_ROOT_USER=username
MINIO_ROOT_PASSWORD=password
STORAGE_BUCKET_NAME=bucket_name
ENDPOINT_URL=url_to_minio_server